body{
    margin: 0;
    padding: 0;
}
#container {
    display: flex;
    height: 380px;
    width: 3800px;
    flex-wrap: wrap;
    padding: 0;
    flex-basis: 380px;
    border: 0px;
    
}
.grid {
    height: 22.5px;
    width: 22.5px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: solid;
    border-width: .1px;
    border-color: skyblue;
}

#big-container{
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
        
}

#button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    padding-bottom: 10px;
    background-color: paleturquoise;
    flex-direction: column;



}
#reset{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: 0px;
    background-color: palevioletred;
    color: white;
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    color: palevioletred;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

